/* Paleta de cores */
:root{
  --cor1: #077CA0;
  --cor2: #049DD9;
  --cor3: #11BED1;
  --cor4: #C2EDF2;
  --cor5: #5FAD10;
}

/* Paleta de cores 2 */
:root{
  --cor1: #72EBF3;
  --cor2: #2E6468;
  --cor3: #4CA1A6;
  --cor4: #53ADB3;
  --cor5: #41898E;
}

body{
  background: linear-gradient(68.15deg, #049DD9 16.62%, #C2EDF2 100%);
}

